opencv-python
numpy
requests
pyyaml
ultralytics
pybind11==2.11.0
pybind11-global==2.11.0
wheel
numpy<2.0  # see https://github.com/orbbec/pyorbbecsdk/issues/47
av # for h264 decoding
pygame # for visualization
pynput # for keyboard input
pyinstaller # for packaging